*{
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.weather{
    width: 70%;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.weather h3{
    padding-top: 20px;
}

.search{
    background-color:#6991E3;
    width: 100%;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    font-size: medium;
    margin-bottom: 5px;
}
.search-feature{
    width: 30%;
    float: left;
    align-self: stretch;
    padding: 5px;
    padding-left: none;
}

.search-feature h2{
    font-size: 30px;
}
#city{
    padding: 10px;
    width: 100%;
    font-size:medium;
    margin-bottom: 10px;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    background: linear-gradient(90deg, rgba(69,88,182,1) 15%, rgba(38,19,96,1) 100%);
    color:white;
    margin-bottom: 1%;
    margin-top: 0;
    padding-top: 30px;
}

.banner {
    background-color: white;
    display: flex;
    align-items: stretch;
    font-size: large;
}
#current-day{
    background-color: white;
    border:solid 2px;
    border-color: grey;
}

.five-day-forcast{
    display: flex;
    align-items: stretch;
    
}
#current-day h2{
    margin-bottom: none;
}
.dayForcast {
    width: 25%;
    background-color:#323D4F;
    color:white;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 5px;
}

.dayForcast b {
    font-size:large;

}

.searchHistory{
    width: 100%;
    border-top: solid 2px;
    border-color: grey;
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.newButton{
    display: block;
    width: 100%;
    background-color: #AEAEAE;
    border: none;
    font-weight : bold;
    margin-bottom: 3%;
    border-radius: 4px;
    padding: 2%;
    font-size: 15px;
}

 